<section class="bg-custom-yellow2 font-apercu-medium font-medium">
    <h2 class="text-black font-medium text-4xl sm:text-6xl uppercase text-center py-4 sm:py-8">QUÉ ES LIMADOCS</h2>
    <hr class="w-full h-px border-[#141414]" />
    <ul class="divide-y divide-[#141414]">
      <li class="py-2 sm:py-3">
        <a href="#" class="group text-black font-medium uppercase flex justify-center gap-2 sm:gap-4 px-4 items-center py-2 sm:py-4 text-xl sm:text-3xl">
          EL CINE DE LO REAL EN SUS VARIACIONES INFINITAS
          <img src="/flecha-icon.png" alt="flecha" class="w-4 sm:w-auto group-hover:animate-shake group-hover:animate-infinite">
        </a>
      </li>
      <li class="py-2 sm:py-3">
        <a href="#" class="group text-black font-medium uppercase flex justify-center gap-2 sm:gap-4 px-4  items-center py-2 sm:py-4 text-xl sm:text-3xl">
          UNA CITA EN LOS MEJORES CINES ALTERNATIVOS DE LIMA
          <img src="/flecha-icon.png" alt="flecha" class="w-4 sm:w-auto group-hover:animate-shake group-hover:animate-infinite">
        </a>
      </li>
      <li class="py-2 sm:py-3">
        <a href="#" class="group text-black font-medium uppercase flex justify-center gap-2 sm:gap-4 px-4 items-center py-2 sm:py-4 text-xl sm:text-3xl">
          UNA DEDICATORIA
          <img src="/flecha-icon.png" alt="flecha" class="w-4 sm:w-auto group-hover:animate-shake group-hover:animate-infinite">
        </a>
      </li>
    </ul>
</section>