<div class="bg-gray-100">
  <section class="flex flex-col md:flex-row">
    <div
      class="w-full md:w-1/2 flex justify-center items-center p-8 md:p-20 bg-[#D0C2D0] transition-all duration-300 hover:bg-[#C2B2C2]"
    >
      <a
        href="#"
        class="border-2 border-black text-black text-lg md:text-2xl rounded-full px-6 py-3 uppercase font-medium
            transition-all duration-300
            hover:bg-black hover:text-[#D0C2D0]
            hover:shadow-lg
            transform hover:scale-105
            active:scale-95
            text-center
            md:text-left"
      >
        Sé parte del equipo Lima Docs
      </a>
    </div>
    <div
      class="w-full md:w-1/2 flex justify-center items-center p-8 md:p-20 bg-[#8B6EA8] transition-all duration-300 hover:bg-[#7D6099]"
    >
      <a
        href="#"
        class="border-2 border-black text-black text-lg md:text-2xl rounded-full px-6 py-3 uppercase font-medium
            transition-all duration-300
            hover:bg-black hover:text-[#8B6EA8]
            hover:shadow-lg
            transform hover:scale-105
            active:scale-95
            text-center
            md:text-left"
      >
        Como apoyar / Donar
      </a>
    </div>
  </section>
</div>
