---
import SecondFooter from "@src/components/SecondFooter.component.astro";
import Layout from "@src/layouts/Layout.astro";
---

<Layout isStaticLogo={false} colorBackground="#8B6EA8">
  <div class="w-full h-[92px]"></div>
  <h1
    class="font-apercu-medium font-medium text-4xl sm:text-5xl lg:text-7xl text-center my-6 md:my-12"
  >
    PREMIOS
  </h1>

  <hr class="border-custom-black" />
  <h1
    class="font-apercu-medium font-medium px-4 text-xl sm:text-2xl lg:text-4xl text-center my-6 md:my-12"
  >
    COMPETENCIA OFICIAL ( CORTOMETRAJE NACIONAL )
  </h1>
  <hr class="border-custom-black" />

  <section class="container mx-auto py-16 px-10 md:px-6 font-apercu-mono text-lg">
    <p>
      Premio del Jurado a la Mejor Película | (US$) <br />
      Mención del Jurado <br />
      Premio del Jurado a la Mejor Ópera Prima | (US$) <br />
      Premio del Jurado a la Mejor Fotografía | Otorgado por la Asociación de Autores
      de Fotografía <br />
      Cinematográfica Peruanos DFP y la Federación Latinoamericana de Autores de
      Fotografía Cinematográfica – FELAFC
      <br />
      Premio del Jurado al Mejor Sonido | Otorgado por la Asociación …………………. ………………
      <br />
    </p>

    <h1 class="font-apercu-bold font-bold mt-8">
      PREMIO DEL PÚBLICO Premio del público | (US$)
    </h1>
    <p class="pl-4">Premio del público | (US$)</p>

    <h1 class="font-apercu-bold font-bold mt-8">PREMIO CENTENNIAL ALFA</h1>
    <p class="pl-4">Premio del Jurado Adolescente (13-18)</p>

    <h1 class="font-apercu-bold font-bold mt-8">
      ASOCIACIÓN PERUANA DE LA PRENSA CINEMATOGRÁFICA- APRECI Premio a la Mejor
      Película
    </h1>
    <p class="pl-4">Premio a la Mejor Película</p>

    <h1 class="font-apercu-bold font-bold mt-8">
      NUNA ASOCIACIÓN DE DIRECTORAS DE CINE DEL PERÚ Premio NUNA a la Mejor
      Directora
    </h1>
    <p class="pl-4">Premio NUNA a la Mejor Directora</p>
  </section>

  <hr class="border-custom-black" />
  <h1
    class="font-apercu-medium font-medium px-4 text-xl sm:text-2xl lg:text-4xl text-center my-6 md:my-12"
  >
    COMPETENCIA JOVEN ( CORTOMETRAJE NACIONAL )
  </h1>
  <hr class="border-custom-black" />

  <section class="container mx-auto py-16 px-10 md:px-6 font-apercu-mono text-lg">
    <p>
      Premio del Jurado a la Mejor Película hecha por jóvenes realizadores | <br
      />
      Premio del Jurado a la Mejor Fotografía | Otorgado por la Asociación de Autores
      de Fotografía <br />
      Cinematográfica Peruanos DFP y la Federación Latinoamericana de Autores de
      Fotografía Cinematográfica – FELAFC
      <br />
      Premio del Jurado al Mejor Sonido | Otorgado por la Asociación …………………. <br
      />
      Premio del Jurado al Mejor Sonido | Otorgado por la Asociación …………………. ………………
      <br />
    </p>

    <h1 class="font-apercu-bold font-bold mt-8">
      PREMIO DEL PÚBLICO Premio del público | (US$)
    </h1>
    <p class="pl-4">Premio del público | (US$)</p>

    <h1 class="font-apercu-bold font-bold mt-8">PREMIO CENTENNIAL ALFA</h1>
    <p class="pl-4">Premio del Jurado Adolescente (13-18)</p>

    <h1 class="font-apercu-bold font-bold mt-8">
      ASOCIACIÓN PERUANA DE LA PRENSA CINEMATOGRÁFICA- APRECI Premio a la Mejor
      Película
    </h1>
    <p class="pl-4">Premio a la Mejor Película</p>

    <h1 class="font-apercu-bold font-bold mt-8">
      NUNA ASOCIACIÓN DE DIRECTORAS DE CINE DEL PERÚ Premio NUNA a la Mejor
      Directora
    </h1>
    <p class="pl-4">Premio NUNA a la Mejor Directora</p>
  </section>

  <SecondFooter
    urlRedirection="#"
    textRedirection="SÉ PARTE DEL EQUIPO LIMA DOCS"
    colorBackground="#D0C2D0"
    colorTextHover="#8B6EA8"
  />
</Layout>
