<footer class="bg-[#191718] text-white py-8 px-4 md:px-8">
    <section class="bg-[#191718] py-12 px-4">
        <div class="max-w-7xl mx-auto">
          <div class="flex flex-wrap justify-center md:justify-between items-center gap-8">
            <div class="flex flex-col">
                <h2 class="text-[#FFE81A] text-4xl font-medium font-apercu-mono">SEDES Y</h2>
                <h2 class="text-[#FFE81A] text-4xl font-medium font-apercu-mono">ALIANZAS</h2>
            </div>

            <div class="flex items-center px-4 py-2 rounded">
              <img 
                src="/marcas/ministerio.png" 
                alt="Ministerio de Cultura" 
                class="h-12 object-contain"
              />
            </div>
      
            <div class="flex items-center">
              <img 
              src="/marcas/pucp.png" 
                alt="Centro Cultural PUCP" 
                class="h-16 object-contain"
              />
            </div>
      

            <div class="flex items-center">
              <img 
              src="/marcas/britanico.png" 
                alt="Británico" 
                class="h-16 object-contain"
              />
            </div>
          </div>
        </div>
      </section>
  </footer>